
body{
 background-color: #d3d3d3
}
header{
    margin-left: 35%;
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background: lightblue;
    display: block;
}
header h1{
    line-height: 50px;
    text-align: center;
}

