*{
    padding: 0 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: #1b2029;
}
section{
    color: white;
}
header{
    background: white;
    padding: 1vw;
}
header h1{
    text-align: center;
}
