*{
    box-sizing: border-box;
}
.div1{
width: 300px;
height: 300px;
text-align: center;
line-height: 300px;
float: left;
background-color: green;
color: red;
}
.div2{
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    float: left;
    background-color: lightblue;
    color: red;
    padding: 20px;
}
.div3{
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    float: left;
    background-color: black;
    color: red;
    padding: 20px;
    border: 1px solid red;
    }
    